# This is a temporary solution to validate how the CI/CD system works.
# Gianluca hopes we will be able to put together a team soon. Maybe as part of
# a release team that will take care of all Tinkerbell releases (sandbox).
*    @gianarb
